@import "reset";
@import "fonts";

$font: 'HelveticaNeueCyr';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $font;
    font-size: 1rem;
    color: #000;
}

.mainContainer {
    width: 100%;
    max-width: 83.125rem;
    margin: 0px auto;
    padding: 0px 1em;
}